<div class="card-header panel-heading" *ngIf="withHeader">
  <div class="panel-title card-title">{{entityName}}: {{getEntityTitle()}}</div>
</div>


<div class="col-12 h-75 pb-4 w-100">
  <div class="row h-100">
    <div class="my-custom-scrollbar my-custom-scrollbar-primary container-fluid mx-auto h-100 mb-4 w-100">


      <form class="form-horizontal" [formGroup]="frm" *ngIf="frm">
        <div class="card-body panel-body col-12" style="width: 100%">
          <div class="row">
            <div *ngFor="let group of formModel.groups">

              <div class="col-12">
                <div class="row">

                  <div class="col-auto">

                    <div *ngFor="let field of group.fields">
                      <div class="row mb-2">
                        <div class="fb-field-container col-form-label control-label" class="">
                          <div class="fb-inline-field-container h-100" style="display: inherit; vertical-align:middle;">
                            <label class=" m-0 form-control form-control-sm"
                              style="vertical-align:middle;border:0px;">{{ field.label }}: </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col">
                    <div *ngFor="let field of group.fields">
                      <div class="row mb-2">
                        <div class="col-sm-2 col-lg-10 fb-field-container " style="min-height:26px">
                          <!-- if not groupName -->
                          <div class="fb-inline-field-container form-line" style="display: inherit;vertical-align:top;"
                            *ngIf="!group.formGroupName && !field.formGroupName">


                            <input class="form-control form-control-sm rounded-0" type="{{field.getTypeAsString()}}"
                              *ngIf="field.isTextField() || field.isPasswordField() || field.isEmailField() || field.isDateField() || field.isNumberField()" [formControlName]="field.id"
                              (change)="field.onchange ? field.onchange($event.target.value) : ''" [mask]="field.mask">

                            <select class="form-control form-control-sm rounded-0" *ngIf="field.isSelectField()"
                              [formControlName]="field.id">
                              <option *ngFor="let option of field.fields | keyPipeFilter" value="{{ option }}">{{ option
                                }}</option>
                            </select>

                            <textarea *ngIf="field.isTextAreaField()" class="form-control form-control-sm rounded-0" placeholder=""
                              [formControlName]="field.id"></textarea>


                            <div *ngIf="field.isListField()">
                              <button (click)="openModal(field)" type="button"
                                class="btn btn-light btn-sm">
                                Ver opções
                              </button>
                              <app-modal [modalInfo]="getModalInfo(field)">
                                <!--<div [innerHTML]="field.listOptions"></div>-->
                                <app-providers-list [config]="{
                                  radio: true,
                                  isEform: true,
                                  selectedFields: frm.controls['provider']
                                }" *ngIf="field.listOptions === '<app-providers-list></app-providers-list>'"></app-providers-list>
                                <app-categories-list [config]="{
                                  checkbox: true,
                                  isEform: true,
                                  selectedFields: frm.controls['categories']
                                }"
                                *ngIf="field.listOptions === '<app-categories-list></app-categories-list>'"></app-categories-list>
                              </app-modal>

                            </div>


                          </div>

                          <!-- if groupName -->
                          <!-- feito para campos especificos, ramificados, que possuem chave primaria na entidade-->

                          <div class="fb-inline-field-container form-line" style="display: inherit;vertical-align:top;"
                            *ngIf="group.formGroupName || field.formGroupName" [formGroupName]="group.formGroupName">


                            <input class="form-control form-control-sm rounded-0" type="{{field.getTypeAsString()}}"
                              *ngIf="field.isTextField() || field.isPasswordField() || field.isDateField()" [formControlName]="field.id"
                              (change)="field.onchange ? field.onchange($event.target.value) : ''" [mask]="field.mask">

                            <select class="form-control form-control-sm rounded-0" *ngIf="field.isSelectField()"
                              [formControlName]="field.id">
                              <option *ngFor="let option of field.fields | keyPipeFilter" value="{{ option }}">{{ option
                                }}</option>
                            </select>

                            <textarea *ngIf="field.isTextAreaField()" class="form-control form-control-sm rounded-0" placeholder=""
                              [formControlName]="field.id"></textarea>


                            <div *ngIf="field.isListField()">
                              <button (click)="openModal(field)" type="button"
                                class="btn btn-light btn-sm">
                                Ver opções
                              </button>
                              <app-modal [modalInfo]="getModalInfo(field)">
                                <!--<div [innerHTML]="field.listOptions"></div>-->
                                <app-providers-list
                                [config]="{
                                  checkbox: true
                                }"
                                *ngIf="field.listOptions === '<app-providers-list></app-providers-list>'"></app-providers-list>
                                <app-categories-list
                                *ngIf="field.listOptions === '<app-categories-list></app-categories-list>'"
                                ></app-categories-list>
                              </app-modal>


                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>




        </div>



      </form>
    </div>



  </div>
</div>

<div class="panel-footer card-footer" style="width: 100%; text-align: right;" *ngIf="withHeader">

  <div class="btn-group"
    style="display:inline-block; -moz-user-select: none; -webkit-user-select:none; user-select:none;">
    <!-- <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
      <i class="fa fa-th blue"></i>
      Dropdown test</button>
    <ul class="dropdown-menu pull-left" aria-labelledby="drop2" widget="tdropdown">
      <li><a style="cursor: pointer">
          <i class="far fa-check-circle" style="padding: 4px"></i>
          <span>PostAction</span>
        </a>
      </li>
      <li><a onclick="" style="cursor: pointer">
          <i class="fa fa-link" style="padding: 4px"></i>
          <span>Shortcut to customers</span>
        </a>
      </li>
    </ul> -->
    <button type="button" class="btn btn-secondary" onclick="cancel()">Cancelar</button>
    <button type="button" class="btn btn-light" (click)="save()">Salvar</button>
  </div>
</div>
<button type="button" class="btn btn-light" (click)="save()">Salvar</button>
