<form [formGroup]="userForm">


  <div class="row">
    <div class="form-group col-md-7 input-group-sm" >
      <label for="name">Login: </label>
      <input type="text"class="form-control form-control-sm" formControlName="userLogin">
    </div>

    <div class="form-group col-md-3 input-group-sm"> <label for="campo2">Senha: </label>
      <input type="text" class="form-control form-control-sm" name="userPassword" formControlName="userPassoword">
    </div>

    <div class="form-group col-md-2 input-group-sm"> <label for="campo3">Permissão: </label>
      <select class="form-control form-control-sm">
        <option>Vendedora</option>
        <option>Administrador</option>
        <option>Super</option>
      </select>
    </div>
  </div>


</form>
