<div class="col-12 h-100 pb-4 w-100">
  <div class="row h-100">
    <div class="my-custom-scrollbar my-custom-scrollbar-primary container-fluid mx-auto h-100 mb-4 w-100">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col" *ngFor="let th of header">{{th}}</th>
            </tr>
          </thead>
          <tbody #tbody>
            <tr *ngFor="let entityInfo of entityInfoList | searchFilter:filter" (click)="open(entityInfo) ">
             <td *ngFor="let td of row">
               <div *ngIf="!containsInput(td)">{{getValueAsString(entityInfo, td)}}</div>
               <div *ngIf="isRadioInput(td)">
                <app-radio [eform]="eform" [id]="listData.infoUrl + entityInfo.id" [name]="listData.infoUrl" [fieldEntity]="entityInfo"></app-radio>
               </div>
               <div *ngIf="isCheckboxInput(td)">
                <app-checkbox [eform]="eform" [id]="listData.infoUrl + entityInfo.id" [name]="listData.infoUrl" [fieldEntity]="entityInfo"></app-checkbox>
               </div>
               <div *ngIf="isFormField(td)">
                <i class="{{td.icon}}" (click)="td.onclick(entityInfo)"></i>
               </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

  </div>
</div>
