<div class="loginbox">
  <!-- <img src="assets/images/avatar.png" class="avatar"> -->
  <h1>Login Here</h1>
  <form name="frmlogin" method="post" id="ajax_form">
    <p>Username</p>
    <input type="text" name="usuariotxt" id="usuariotxt" placeholder="Enter Username" ngModel="user.name">
    <p>Senha</p>
    <input type="password" name="senhatxt" id="senhatxt" placeholder="Enter Password" ngModel="user.password">
    <input type="submit" name="" value="Login" onclick="validateLogin()">
    <div class="msg-error" style="display:none;" id="error">
      <p>Usuario ou senha incorretos</p>
    </div>
    <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a> -->
  </form>

</div>
