<div class="row">

  <div class="col-auto">

    <div *ngFor="let field of group.fields">
      <div class="row">
        <div class="fb-field-container col-form-label control-label"
        style="min-height:26px">
          <div class="fb-inline-field-container "
          style="display: inherit; vertical-align:top;">

            <label id="tlabel_1989842181">{{ field.label }}: </label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col">
    <div *ngFor="let field of group.fields">
      <div class="row mb-2">
        <div class="col-sm-2 col-lg-10 fb-field-container " style="min-height:26px">
          <div class="fb-inline-field-container form-line" style="display: inherit;vertical-align:top;">
            <input class="form-control form-control-sm rounded-0" type="{{field.type}}"
              *ngIf="field.type != 'select' && field.type != 'textarea'" formControlName="{{ field.id }}"
              (change)="field.onchange ? field.onchange($event.target.value) : ''"
              [mask]="field.mask">

            <select class="form-control form-control-sm rounded-0" *ngIf="field.type == 'select'" formControlName="{{ field.id }}">
              <option *ngFor="let option of field.fields | keyPipeFilter" value="{{ option }}">{{ option }}</option>
            </select>

            <textarea *ngIf="field.type == 'textarea'"
            class="form-control form-control-sm rounded-0"placeholder="" formControlName="{{ field.id }}">
          </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
