<div class="col-12">
  <div class="row">
    <div class="col-8">
      <h5><img src='' width='50' height='50'>
        Produto: </h5>
    </div>
    <div class="col-4">
      <h5 class="text-right">
        Valor: R$ </h5>
    </div>
  </div>
  <div class="row">


    <div class="col-6">
      <p class="border-bottom"><strong>Detalhes</strong></p>
      <div class="row">
        <div class="col">
          <p><strong>Categoria: </strong></p>
          <p><strong>Coleção: </strong></p>
          <p><strong>Tamanho: </strong></p>
          <p><strong>gênero: </strong></p>
        </div>
        <div class="col">
          <p><strong>Cor: </strong></p>
          <p><strong>Estilo: </strong></p>
          <p><strong>Descrição: </strong></p>
        </div>
      </div>
    </div>



    <div class="col-3">
      <p class="border-bottom"><strong>Estoque: </strong></p>
      <p><strong>Status: </strong></p>
      <p><strong>Quantidade: </strong></p>
      <p><strong>Código de barras: </strong></p>
    </div>

    <div class="col-3">
      <p class="border-bottom"><strong>Entrada: </strong></p>
      <p><strong>Data de compra: </strong></p>
      <p><strong>Fornecedor: </strong></p>
      <p><strong>Valor pago: </strong></p>
      <p><strong>Categoria: </strong></p>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="btn-group pull-right" role="group" aria-label="Third group">
        <button type="button" class="btn btn-light pull-right m-2"><a href="" class="text-dark">Editar <img
              src=''></a></button>
      </div>
    </div>
  </div>
</div>
