
<div class="col-12 h-100 pb-4 w-100">
  <div class="row h-100">
    <div class="my-custom-scrollbar my-custom-scrollbar-primary container-fluid mx-auto h-100 mb-4 w-100">
      <div class="table-responsive">
        <table class="table" *ngIf="products">
          <thead class="thead-light">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let product of products | searchFilter:filter" (click)="openProductInfo(product)">
              <td scope="row"> {{ product.code }}</td>
              <td> {{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

  </div>
</div>
