<form [formGroup]="userForm">


  <div class="row">
    <div class="form-group col-md-2 input-group-sm" >
      <label for="name">Login: </label>
      <input type="text"class="form-control form-control-sm" formControlName="userLogin">
    </div>

    <div class="form-group col-md-2 input-group-sm">
      <label for="campo2">Senha: </label>
      <input type="text" class="form-control form-control-sm" name="userPassword" formControlName="userPassword">
    </div>

    <div class="form-group col-md-2 input-group-sm">
      <label for="campo3">Permissão: </label>
      <select class="form-control form-control-sm" formControlName="permission">
        <option>Vendedora</option>
        <option>Administrador</option>
        <option>Super</option>
      </select>
    </div>

    <div class="form-group col-md-2 input-group-sm" *ngIf="isEditing()">
      <label for="campo3">Status: </label>
      <select class="form-control form-control-sm" formControlName="active">
        <option>Ativo</option>
        <option>Desativo</option>
      </select>
    </div>
  </div>

  <!--
    aqui deverá ser inserido um select -> provavelmente atraves de modal, para selecionar o cliente que contem as info para o usuario
  -->


</form>
